<div>
      <h1>Welcome to CB Manage System<h1>
      <a href="#/homepage/manager">Go to managesystem</a>

    <div ng-controller="CarouselDemoCtrl">
    <div style="height: 305px">
      <uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
        <uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
          <img ng-src="{{slide.image}}" style="margin:auto;">
          <div class="carousel-caption">
            <p>{{slide.text}}</p>
          </div>
        </uib-slide>
      </uib-carousel>
    </div>
      </div>

    </div>
  </div>
</div>
