<div class="container">
  <h2>Staff Imformation</h2>
    <table class="table">
    <thead>
      <tr>
        <th>UserID</th>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
        <th>Tags</th>
      </tr>
    </thead>
    <tbody>
<tr ng-repeat="staff in staffs">
  <td><input type="text" id="text_{{staff.UserID}}" ng-model="staff.UserID" class="active" readonly/></td>
  <td><input type="text" id="text_{{staff.Firstname}}" ng-model="staff.Firstname" class="active"/></td>
  <td><input type="text" id="text_{{staff.Lastname}}" ng-model="staff.Lastname" class="active"/></td>
  <td><input type="text" id="text_{{staff.Email}}" ng-model="staff.Email" class="active" readonly/></td>
  <td><input type="text" id="text_{{staff.Tags}}" ng-model="staff.Tags" class="active"/></td>
</tr>
    </tbody>
  </table>
</div>
